*,
html,
body {
  /*box-sizing: border-box;*/

}

body {
  font-size: 14px;
  padding: 50px;
  margin-top: 100px;
}

#logo {
  font-family:'Righteous', cursive;
  color: black;
  font-size: 100px;

}

a { color: #00B7FF; }

.surfvideo {
    position: fixed;
    padding-top: 55px;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
}



