<div class="container-fluid grid spots">

  <!-- HOME PAGE & SPOT PAGE: HEADER -->
  <header class="row header">

    <div class="col-md-12 surfbuddy-logo">
      <div class="lilsurfer">
        <a ui-sref="splash">
          <img alt="" src="/images/curl-small.svg">
          <img alt="" src="/images/curl-medium.svg">
        </a>
        <h1 id="logo">Cali*Bunga</h1>
      </div> <!-- .lilsurfer -->
      <p class="tagline"><em>Let's check out some swells brah</em></p>
    </div> <!-- .surfbuddy-logo -->

  <form id="county-picks">
    <select class="btn btn-default" ng-model="vm.spotChoice" ng-change="vm.getCountySpots()">
      <option value="" selected="selected" disabled>Pick a County<span class="caret"></span></option>
      <option value='santa-barbara'>Santa Barbara</option>
      <option value='ventura'>Ventura</option>
      <option value='los-angeles'>Los Angeles</option>
      <option value='orange-county'>Orange County</option>
      </select>
  </form>

  <form id="county-picks">
    <select id="spot-pick" class="btn btn-default" ng-model="vm.spotDeats" ng-change="vm.getCntySptsDeats()">
      <option value="" selected="selected" disabled>Pick a Spot<span class="caret"></span></option>
      <option ng-repeat="spot in vm.spots" value="{{ spot.spot_id }}" ui-sref="spots.detail">{{ spot.spot_name }}</option>
    </select>
  </form>

  </header>

  <!-- HOME PAGE & SPOT PAGE: CAROUSEL -->
  <div class="row">
    <div class="col-md-12">
      <div class="carousel" style="height: 305px">
        <uib-carousel active="active" interval="4000" no-pause="true" no-wrap="false">
          <uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="max-height:400px; margin:0 auto;">
            <div class="carousel-caption">
              <h4>{{slide.title}}</h4>
              <p>{{slide.caption}}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->

 <!-- surfline video -->
<!-- <div style="margin: 10px 20px;">
 <iframe width="640" height="360" src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=4203"
  frameborder="0" scrolling="no" allowfullscreen></iframe>
</div> -->


  <div ui-view ></div>

  <div class="iconfooter">
    <footer>
      <hr>
      <span>Made with internship Labor on a very cold desk.</span>
      <br>
      <span ng-click="vm.openModal();"> © 2016, Cali*Bunga </span> &nbsp; &nbsp;
    </footer>
    <div>
      Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>

</div><!-- container fluid -->

<!-- Surf Map Modal -->

<!--
<div class="modal fade" id="surf-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog surf-modal-size">
    <div class="modal-content surf-modal-size">
      <div class="modal-body surf-modal-size">
        <img id="surf-modal-img" data-dismiss="modal" alt="" src="vm.selected.surf_map_url">
      </div>
    </div>
  </div>
</div>
-->
<script type="text/ng-template" id="modal-content">
  <div class="modal-header">
      <h3 class="modal-title">Map goes here!</h3>
  </div>
  <div class="modal-body surf-modal-size">
    <img class="surf-modal-img">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
  </div>
</script>
