<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Check Out Some Swells'}) %>
    <a href="/surf">Check out the Surf</a>

  <main>
<div class="surfvideo">
  <iframe src="https://player.vimeo.com/video/108799588?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="1371" height="750" frameborder="0"
  webkitallowfullscreen mozallowfullscreen muted allowfullscreen>
  </iframe>
    <div class="enter">
      <p><a href="/users">Check Out Some Swells</a></p>
    </div>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
